:root {
    --my-color: #fff;
    /* or any other variables/style */
  }
  [data-theme='dark'] {
    --my-color: #000;
  }
  [data-theme='pink'] {
    --my-color: #ffabc8;
  }
  body {
    background-color: var(--my-color);
  }
  .bg-custom-gradient {
    background: linear-gradient(90deg, #00B4D8, #48CAE4);
}
.carousel-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.carousel-container::-webkit-scrollbar {
    display: none;
}
.carousel-item {
    min-width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}
.typing-container {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid #000;
    white-space: nowrap;
    animation: typing 3.5s steps(11, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #000; }
}
